:root {
  --main-button-bg: #ec5863;
  --main-button-color: #fcfdfe;
  --main-button-padding: 14px 29px;
  --main-button-border: none;
  --main-button-cursor: pointer;
  --main-button-font-weight: 800;
  --main-button-font-size: 10px;
  --main-button-line-height: 12px;
  --main-button-letter-spacing: 0.14em;
  --square-bg: #ec5863;
  --square-position: absolute;
}

.header {
  padding-left: 52px;
  z-index: 50;
  background-size: auto 100%;
  background: url("../img/right-side.png") no-repeat right top;
}

/* .header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fcfcfc;
  z-index: 3;
} */
.header-corona {
  display: fixed; /*Question*/
  left: 0;
  top: 0;
  padding-top: 51px;
  padding-right: 43px;
  width: 100%;
  margin: 0 auto;
}
.header-corona_body {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 80px; */
}
.header_logo {
  position: relative;
  z-index: 5;
}
.header_logo img {
  max-width: 100%;
  display: block;
}
.header_burger {
  display: none;
  cursor: pointer;
}
.header_menu {
}
.header_list {
  display: flex;
  position: relative;
  z-index: 2;
}
.header_list li {
  list-style: none;
}

.header_list li:not(:last-child) {
  margin-right: 40px;
}

.headet_link {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #000000;
  transition: all 0.4s ease-in;
  text-transform: uppercase;
}

.headet_link:hover {
  text-shadow: 2px 2px 5px #ec5863;
}
.header_button {
  background: #4285f4;
  border-radius: 5px;
  text-transform: uppercase;
  padding: var(--main-button-padding);
  border: var(--main-button-border);
  cursor: var(--main-button-cursor);
  font-weight: var(--main-button-font-weight);
  font-size: var(--main-button-font-size);
  line-height: var(--main-button-line-height);
  color: var(--main-button-color);
  letter-spacing: var(--main-button-letter-spacing);
}

/* MEDIA */
@media (max-width: 960px) {
  body.lock {
    overflow: hidden;
  }

  /* .header::before {
    background: #f17f7f;
  } */

  .header-corona_body {
    height: 50px;
  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header_burger span {
    background: #f8d9de;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.4s ease-in 0s;
  }
  .header_burger::before,
  .header_burger::after {
    content: "";
    background: #f8d9de;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.4s ease-in 0s;
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 1px;
  }
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ec5863;
    padding: 160px 0 0 40px;
    transition: all 0.3s ease-in;
    overflow: auto;
  }
  .header_menu.active {
    top: 0;
  }
  .header_logo {
    background: #f8d9de;
    border-radius: 8px;
  }
  .header_list {
    display: block;
    font-size: 20px;
  }
  .headet_link {
    font-size: 20px;
  }
  .header_button {
    display: none;
  }
  .header_list li {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 560px) {
  .block-1_title {
    font-size: 20px;
  }
  .block-1_audio {
    width: 50px;
  }
  .block-2 {
    display: none;
  }
  .big-card_text h1 {
    font-size: 20px;
  }
  .big-card_text p {
    font-size: 10px;
    margin-left: 12px;
  }
  .talk_text h1 {
    font-size: 20px;
  }
  .talk_text p {
    font-size: 10px;
  }
  .talk_video {
    display: none;
  }
  .healthCare {
    padding-top: 40px;
  }
  .healthCare_title h1 {
    font-size: 20px;
  }
  .healthCare_subtitle {
    font-size: 10px;
  }
  .cards {
    display: inline-block;
  }
  .buttons {
    display: block;
  }
}

.header-content {
  margin-top: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-1 {
  font-family: "Rubik", sans-serif;
}

.block-1_title {
  font-weight: bold;
  font-size: 44px;
  line-height: 126%;
  color: #000000;
}

.block-1_title span {
  color: #4285f4;
}

.block-1_subtitle {
  font-size: 12px;
  margin-top: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}

.block-1_button {
  margin-top: 24px;
  border-radius: 5px;
  padding: var(--main-button-padding);
  background: var(--main-button-bg);
  font-weight: var(--main-button-font-weight);
  font-size: var(--main-button-font-size);
  line-height: var(--main-button-line-height);
  letter-spacing: var(--main-button-letter-spacing);
  cursor: var(--main-button-cursor);
  color: var(--main-button-color);
  letter-spacing: var(--main-button-letter-spacing);
}

.block-1_audio {
  margin-top: 148px;
  margin-bottom: 48px;
  cursor: pointer;
}

.block-2 {
  position: absolute;
  right: 53px;
  top: 0;
  width: 547px;
  height: 395px;
  background: url("../img/people.png") center center no-repeat;
}

.stay-safe {
  padding: 79px 202px 79px 100px;
  font-family: "Rubik", sans-serif;
}

.big-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.big-card_phone {
  position: relative;
}

.big-card_phone_square-top {
  content: "";
  position: var(--square-position);
  top: -25px;
  left: -25px;
  width: 147px;
  border-radius: 30px;
  height: 147px;
  z-index: -1;
  background: var(--square-bg);
}

.big-card_phone_square-right {
  content: "";
  position: var(--square-position);
  right: -5px;
  bottom: 80px;
  width: 77px;
  height: 77px;
  border-radius: 30px;
  z-index: -1;
  background: var(--square-bg);
}

.big-card_phone_square-left {
  content: "";
  position: var(--square-position);
  bottom: 15px;
  left: -5px;
  width: 77px;
  height: 77px;
  border-radius: 30px;
  z-index: -4;
  background: var(--square-bg);
}

.big-card_rectangle {
  content: "";
  position: var(--square-position);
  bottom: 30px;
  left: 35px;
  width: 206px;
  height: 27px;
  background: rgba(240, 240, 240, 0.49);
  border-radius: 16px;
}

.big-card_text h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 126%;
  color: #000000;
}

.big-card_text h1 span {
  color: #ec5863;
}

.big-card_text p {
  margin-top: 12px;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}

.big-card_text button {
  margin-top: 24px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: var(--main-button-padding);
  background: var(--main-button-bg);
  border: var(--main-button-border);
  font-weight: var(--main-button-font-weight);
  font-size: var(--main-button-font-size);
  line-height: var(--main-button-line-height);
  letter-spacing: var(--main-button-letter-spacing);
  color: var(--main-button-color);
  cursor: var(--main-button-cursor);
}

.take-experts {
  font-family: "Rubik", sans-serif;
  padding: 53px 71px 116px 92px;
}

.users {
  position: relative;
  margin: 0 auto;
  padding: 28px 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 16px;
  background: #ffffff;
  width: 654px;
  height: 117px;
}

.users .numbers h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  color: #ec5863;
}

.users .numbers p {
  margin-top: 5px;
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}

.users_square-left {
  content: "";
  position: var(--square-position);
  left: -15px;
  bottom: -25px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  width: 65.75px;
  height: 65.75px;
  z-index: -1;
  background: var(--square-bg);
}

.users_square-middle {
  content: "";
  position: var(--square-position);
  top: -44px;
  left: 240px;
  border-radius: 30px;
  -webkit-transform: rotate(105deg);
  transform: rotate(105deg);
  width: 96.96px;
  height: 96.96px;
  z-index: -1;
  background: var(--square-bg);
}

.users_square-right {
  content: "";
  position: var(--square-position);
  top: 0;
  right: -45px;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  width: 127.47px;
  height: 127.47px;
  z-index: -1;
  background: var(--square-bg);
}

.talk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.talk_text h1 {
  font-weight: bold;
  font-size: 44px;
  line-height: 126%;
  color: #000000;
}

.talk_text h1 span {
  color: #587eec;
}

.talk_text p {
  margin-top: 12px;
  font-size: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}

.talk_text button {
  margin-top: 24px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: var(--main-button-padding);
  background: var(--main-button-bg);
  font-weight: var(--main-button-font-weight);
  font-size: var(--main-button-font-size);
  line-height: var(--main-button-line-height);
  letter-spacing: var(--main-button-letter-spacing);

  cursor: var(--main-button-cursor);
  color: var(--main-button-color);
}

.talk_video {
  cursor: pointer;
}

.healthCare {
  padding: 80px 56px 47px 56px;
  font-family: "Rubik", sans-serif;
}

.healthCare_title {
  font-weight: bold;
  font-size: 44px;
  line-height: 126%;
  text-align: center;
  color: black;
}

.healthCare_title span {
  color: #ec5863;
}

.healthCare_subtitle {
  margin-top: 14px;
  font-size: 12px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #616161;
}

.cards {
  margin-top: 46px;
  margin-bottom: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 72px;
}

.card {
  position: relative;
  padding: 37px 17px;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
}

.card_text h5 {
  margin-top: 58px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #000000;
}

.card_text p {
  font-size: 12px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #616161;
}

.card:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 232px;
  left: -15px;
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  z-index: -1;
  background: var(--square-bg);
}

.card:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 96.96px;
  height: 96.96px;
  left: 326.57px;
  top: 31px;
  border-radius: 30px;
  -webkit-transform: rotate(105deg);
  transform: rotate(105deg);
  z-index: -1;
  background: var(--square-bg);
}

.card:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 170px;
  right: -85px;
  width: 127.47px;
  height: 127.47px;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  z-index: -1;
  background: var(--square-bg);
}

.card:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -30px;
  right: -20px;
  width: 65.75px;
  height: 65.75px;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
  z-index: -1;
  background: var(--square-bg);
}

.buttons {
  margin: 0 auto;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buttons_link:first-child {
  margin-right: 60px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */
