.header {
  padding-left: 52px;
  position: relative;
  background-size: auto 100%;
  background: url("/img/right-side.png") no-repeat right top;
}

.header-corona {
  font-family: "Raleway", sans-serif;
  margin: 0px 43px 100px 0px;
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-corona_button {
  padding: 12px 29px;
  background: #4285f4;
  border-radius: 5px;
  border: none;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  cursor: pointer;
}

.menu {
  position: relative;
}

.menu_items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_items li:not(:last-child) {
  margin-right: 40px;
}

.links {
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  color: #000000;
}

.header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-1 {
  font-family: "Rubik", sans-serif;
}

.block-1_title {
  font-weight: bold;
  font-size: 44px;
  line-height: 126%;
  color: #000000;
}

.block-1_title span {
  color: #4285f4;
}

.block-1_subtitle {
  font-size: 12px;
  margin-top: 12px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #616161;
}

.block-1_button {
  font-family: "Raleway", sans-serif;
  padding: 14px 29px;
  margin-top: 24px;
  background: #ec5863;
  border-radius: 5px;
  font-weight: 800;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.14em;
  cursor: pointer;
  color: #fcfdfe;
}

.block-1_audio {
  margin-top: 148px;
  margin-bottom: 48px;
}

.block-2 {
  z-index: 6;
  background: url("/img/peoples.png") center center no-repeat;
}

.healthCare {
  padding: 80px 56px 47px 56px;
  font-family: "Rubik", sans-serif;
}

.healthCare_title {
  margin-top: 80px;
  font-weight: bold;
  font-size: 44px;
  line-height: 126%;
  text-align: center;
  color: black;
}

.healthCare_title span {
  color: #ec5863;
}

.healthCare_subtitle {
  margin-top: 14px;
  font-size: 12px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #616161;
}

.cards {
  margin-top: 46px;
  margin-bottom: 75px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 72px;
}

.card {
  position: relative;
  padding: 37px 17px;
  text-align: center;
  cursor: pointer;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;
}

.card_text h5 {
  margin-top: 58px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 138.5%;
  letter-spacing: 0.08em;
  color: #000000;
}

.card_text p {
  font-size: 12px;
  line-height: 138.5%;
  text-align: center;
  letter-spacing: 0.08em;
  color: #616161;
}

.card:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 232px;
  left: -15px;
  width: 65.75px;
  height: 65.75px;
  background: #ec5863;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  z-index: -1;
}

.card:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 96.96px;
  height: 96.96px;
  left: 326.57px;
  top: 31px;
  background: #ec5863;
  border-radius: 30px;
  -webkit-transform: rotate(105deg);
          transform: rotate(105deg);
  z-index: -1;
}

.card:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 170px;
  right: -85px;
  width: 127.47px;
  height: 127.47px;
  background: #ec5863;
  border-radius: 30px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  z-index: -1;
}

.card:nth-child(3)::before {
  content: "";
  position: absolute;
  top: -30px;
  right: -20px;
  width: 65.75px;
  height: 65.75px;
  background: #ec5863;
  border-radius: 16px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  z-index: -1;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons_link:first-child {
  margin-right: 60px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */