@import "blocks/colors";

@import "blocks/takeCare";
@import "blocks/staySafe";
@import "blocks/talkExperts";
@import "blocks/healthCare";


 * {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
