@import "blocks/colors";

@import "blocks/header";
@import "blocks/staySafe";
@import "blocks/talkExperts";
@import "blocks/footer";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
