.healthCare {
  padding: 80px 87px 47px 87px;
  font-family: "Rubik", sans-serif;
  &_title {
    margin-top: 80px;
    font-weight: bold;
    font-size: 44px;
    line-height: 126%;
    text-align: center;
    color: black;
  }
  &_title span {
    color: #ec5863;
  }
  &_subtitle {
    margin-top: 14px;
    font-size: 12px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;

    color: #616161;
  }
}
.cards {
  margin-top: 46px;
  margin-bottom: 75px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 72px;
}
.card {
  position: relative;
  padding: 37px 17px;
  text-align: center;
  cursor: pointer;

  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 8px;

  &_text h5 {
    margin-top: 58px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 138.5%;
    letter-spacing: 0.08em;

    color: #000000;
  }
  &_text p {
    font-size: 12px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;

    color: #616161;
  }
}
.items {
  position: relative;

  &_rect-1 {
    position: absolute;
    top: 232px;
    left: 0;
    width: 65.75px;
    height: 65.75px;
    transform: rotate(-30deg);
    z-index: -7;
  }

  &_rect-2 {
    position: absolute;
    top: 31px;
    right: 0;
    width: 96.96px;
    height: 96.96px;
    transform: rotate(105deg);
    z-index: -7;
  }
  &_rect-3 {
    position: absolute;
    width: 127.47px;
    height: 127.47px;
    transform: rotate(-30deg);
    z-index: -7;
  }
  &_rect-4 {
    position: absolute;
    right: 0;
    width: 65.75px;
    height: 65.75px;
    transform: rotate(-30deg);
    z-index: -7;
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  &_link:first-child {
    margin-right: 60px;
  }
}
